@model Y4C.Models.AddContent 

<!DOCTYPE html>
<html>
<head>
    <title>Y4C</title>
</head>
<body>

    <p>@Model.Title</p><br />

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="@Model.Video" allowfullscreen></iframe>
    </div><br />

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="@Model.Audio" allowfullscreen></iframe>
    </div><br />

    <p>@Model.Description</p>

    <hr />
    <h2>Blog</h2>
    <h3>@Model.BlogTitle</h3>
    <h5>@Model.BlogAuthor</h5>
    <p>@Model.BlogContent</p>
</body>
</html>

